extends ../../layout 

block content
    .ui.container
        br
        a(href='/')
            i.left.arrow.huge.icon
        .ui.grid
            .six.wide.column 
                .ui.basic.padded.segment    
                    // h1 #{name}
                    .ui.card
                        .content 
                            a.header Caden Wright 
                            .meta 
                                span.date Fall 2023
                        .ui.green.large.button#showProfile View Profile 
                        .extra.content 
                            a
                                i.moon.icon
                                | It's great to be here 
            .ten.wide.column#hideProfile 
                br
                .ui.segment 
                h1 My Profile


block styles 
    link(rel='stylesheet', href='/css/caden.css')  

block scripts
    script(src="/js/caden.js")