extends ../../layout 

block content
    .ui.container
        br
        .ui.padded.segment
            a(href='/')
                i.left.arrow.huge.icon    
            h1 #{name}

block styles 
    link(rel='stylesheet', href='/css/caden.css')  

block scripts
    script(src="/js/caden.js")