extends ../../layout 

block content
    .ui.container
        br
        a(href='/week2/caden')
            i.left.arrow.huge.icon 
        h1 Reflection  
        .ui.content 
            p#headings Do you find prepared to protect yourself in the real world?
            .ui.input 
                input(type="text" class="textInput" id="question1")
        br
        br
        .ui.content
            p#headings Do you believe you can assist your family and friends in avoiding scams?
            .ui.input 
                input(type="text" class="textInput" id="question2")

block styles 
    link(rel='stylesheet', href='/css/caden-week2.css')  

block scripts
    script(src="/js/caden-week2.js")