extends ../../layout 

block content
    .ui.container
        br
        a(href='/week2/caden')
            i.left.arrow.huge.icon   
        .ui.content 
            p Have you ever encountered a scam before?
            .ui.basic.button#showYes Yes
            .ui.blue.button#showNo No
        br
        br
        br
        .ui.content#hideYes 
            p  Do you have any specific precautions or practices that you follow to stay safe?
            .ui.input 
                input(type="text" id="textInput")
        .ui.content#hideNo 
            p Could you please share more about your experience with the scam? Did you undergo any financial loss or other types of loss due to the scam?
            .ui.input 
                input(type="text" id="textInput")


block styles 
    link(rel='stylesheet', href='/css/caden-week2.css')  

block scripts
    script(src="/js/caden-week2.js")