extends ../../layout 

block content
    .ui.container
        br
        a(href='/week2/caden')
            i.left.arrow.huge.icon   
        .ui.content 
            p Do you feel more confident about recognizing scam emails and message?
            .ui.basic.button#showYes Yes
            .ui.blue.button#showNo No

block styles 
    link(rel='stylesheet', href='/css/caden-week2.css')  
