doctype html 
html 
    head
        title Dartutor
        //- link(rel='stylesheet' href='/stylesheets/style.css')
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,100&display=swap" rel="stylesheet")
        
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.css")
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js')
        script(src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.2/semantic.min.js")
    body.red
        block content 
        br
        hr
        footer 
            .ui.bottom.attatched.basic.center.aligned.segment
                p &copy; DART Learn Fall 2023 

block styles 

block scripts 
