/* default font size of 1rem / 16px. This is the root element so everything else's size will be relative to this */
/* Set font size for normal text on page to 1.5rem, 24px, which is what the National Institute on Aging uses for their page's body text */
html {
    font-size: 1rem;
}

/* for all email examples to limit their width */
.limit {
    position: relative;
    padding-left: 9rem; 
    padding-right: 9rem;
    margin: 0 auto;
    
}

#netflix-logo{
   width: 150px;
   display: block;
   margin: 0 auto;
}

.ui.basic.segment.alert{
    display: grid;
    margin-top: 40px;
    grid-template-columns: auto 1fr;
    gap: 10px;
    font-size: 1.5rem;
    color: white;
    background-color: #358eef;
    padding: 10px;
}

i.exclamation.triangle.icon{
    size: 50px;
    margin: 0;
}

h3{
    margin: 0;
}

.ui.basic.segment.message{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-left: 15%;
    font-size: 1.5rem;
    color: black;
}

.bold-message{
    max-width: 300px;
}

.response{
    max-width: 525px;
}

.update{
    background-color: rgb(221, 44, 24);
    padding-left: 10px;
    padding-top: 1.5%;
    padding-bottom: 1.5%;
    max-width: 350px;
    color: white;
}

.underline-text {
    text-decoration: underline;
  }