body {
    background-color: #7aa7d6 ;
}

#veniceimg{
    max-height: 500px;
    object-fit: cover;
}

.ui.basic.padded.segment {
    margin-top: 15px;
}

h1 {
    margin-top: auto;
    text-align: center;
}