body {
    background-color: #7aa7d6 ;
}

#veniceimg{
    max-height: 400px;
    object-fit: cover;
}

.ui.basic.padded.segment {
    margin-top: 15px;
}

h1,p {
    margin-top: auto;
    text-align: center;
}

.ten.wide.column{
    background-color: white;
}

/* Initially hide the profile with a display: none; */
#hideProfile {
    display: none;
}

/* Define a CSS transition for the display property */
#hideProfile.transition {
    transition: display 0.5s ease-in-out;
}

/* Add Semantic UI classes to control visibility */
#hideProfile.visible {
    display: block;
}