body {
    background-color: seashell;
}

h3 {
    padding-top: 10px;
}

.six.wide.column {
    margin: auto;
}

#hideProfile {
    display: none;
}

#hideProfile.visible {
    display: block;
}

.item {
    margin-left: 25px;
    padding-bottom: 10px;
}