body {
    background-color: #CBC3E3;
}

p {
    margin-left: 15px;
    margin-top: 10px;
}

#pumpkinImg {
    margin-left: 15px;
}

.ui.basic.padded.segment {
    margin-top: 15px;
}

/* Initially hide the profile with a display: none; */
#hideProfile {
    display: none;
}

/* Define a CSS transition for the display property */
#hideProfile.transition {
    transition: display 0.5s ease-in-out;
}

/* Add Semantic UI classes to control visibility */
#hideProfile.visible {
    display: block;
}