/* default font size of 1rem / 16px. This is the root element so everything else's size will be relative to this */
/* Set font size for normal text on page to 1.5rem, 24px, which is what the National Institute on Aging uses for their page's body text */
html {
    font-size: 16px;
}

.content{
    text-align: center;
    font-family: 'Inter';

}

.smallTitle{
    font-family: 'Inter';
    font-size: 18px;
    margin-top: -30px;
}

span.date{
    color: #2165AE;
}

.image{
}

.ui.card{
    border-radius: 10px;
    border: 3px solid #2165AE;
    background-color: #F9FCFF;
    
}

button.ui.blue.basic.button{
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: 'Armata';
}

.ui.grid{
    margin: 10px;
}

.ui.stackable.two.column.grid{

}

.userTitle{
    font-size: 34px;
    font-family: 'Armata';
}


.image{
    background-color: #F9FCFF; 
}

.ui.card .image {
    background-color: #F9FCFF; 
    border: none;
}

img.intrepid{

}

.four.wide.column{
    margin-bottom: -30px;
}


.ui.grid.buttonGrid{
    border-radius: 20px;
    text-align: center;
}