/* Styling for the title section */
.ui.basic.segment.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #60b8c4;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Styling for the title text */
h1.ui.header {
    font-size: 3.5rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

img{
    max-width: 750px;
}

/* Styling for paragraphs */
p.paragraph {
    max-width: 750px;
    font-size: 1.5rem;
    line-height: 1.5;
    margin: 20px 0;
}

/* Styling for section headers */
h2.ui.header {
    font-size: 2.5rem;
    color: #333;
    margin-top: 30px;
}

/* Styling for section headers with text shadow */
h2.ui.header2 {
    font-size: 2.5rem;
    color: #ffffff;
    margin-top: 30px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/* Style for bullet points in section 2 */
.ui.basic.segment.section2 ul.ui.list {
    list-style-type: none;
    font-size: 1.5rem;
    margin-left: 20px;
    padding-left: 0;
}

.ui.basic.segment.section2 ul.ui.list li {
    margin-bottom: 15px;
    color: #444;
    line-height: 1.4;
}

.ui.basic.segment.section2 ul.ui.list li:before {
    content: '\2192';
    color: #148b9a;
    font-size: 1.5rem;
    margin-right: 40px; /* Increased margin for more space */
}

/* Styling for password sections */
.ui.basic.segment.password1,
.ui.basic.segment.password2 {
    display: flex; /* Center content horizontally and vertically */
    flex-direction: column; /* Stack content vertically */
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    padding: 20px;
    margin: 20px 0;
    background-color: #60b8c4;
    color: white;
    font-size: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
