
.ui.basic.segment.title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #148b9a;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


h1 {
    font-size: 3.5rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}


p.paragraph {
    max-width: 750px;
    font-size: 1.5rem;
    line-height: 1.5; 
    margin: 20px 0; 
}


h2.ui.header {
    font-size: 2.5rem; 
    color: #333; 
    margin-top: 30px; 
}


.ui.basic.segment.section2 ul.ui.list {
    list-style-type: none;
    font-size: 1.5rem;
    margin-left: 20px;
    padding-left: 0;
}

.ui.basic.segment.section2 ul.ui.list li {
    margin-bottom: 15px; 
    color: #444;
    line-height: 1.4; 
}

.ui.basic.segment.section2 ul.ui.list li:before {
    content: '\2192';
    color: #148b9a;
    font-size: 1.5rem;
    margin-right: 10px;
}

/* Placeholder styles for images (section4 and section5) */
.ui.basic.segment.section4,
.ui.basic.segment.section5 {
    text-align: center; /* Center the content within these sections */
    padding: 20px; /* Add padding for spacing */
    margin: 20px 0; /* Add vertical spacing between sections */
    background-color: #f7f7f7; /* Use a light background color */
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
