extends ../../layout 

block content
    .ui.container
        br
        a(href='/')
            i.left.arrow.huge.icon    
        h1 #{name} week 2

        .limit
            br
            h1 Amazon 
            //- code here
            br
            
            .ui.segment#AmazonSeg
                .item#item1
                    img.AmazonLogo(src="/images/erick/week2/Amazon_logo.svg")
                    h3 Password Assistance
                .item#item2
                    .ui.stackable.vertical.grid
                        .row#row1
                            p To verify your identity, please use the following code:
                        .row#row2
                            h2 456459
                        .row#row2
                            p Amazon takes your account security very seriously. Amazon will never email you to disclose or verify your Amazon password, credit card, or banking account number. If you receive a suspicious email with a link to update your account information, do not click the link - instead, report the email to Amazon for investigation.
                        .row#row3
                            p We hope to see you again soon.
            h1 Dropbox 
            //- code here
            .ui.segment#DropboxSeg
                .item#item1
                    img.logo(src="/images/erick/week2/Amazon_logo.svg")
                    h3 Password Assistance
                .item#item2
                    .ui.stackable.vertical.grid
                        .row#row1
                            p To verify your identity, please use the following code:
                        .row#row2
                            h2 456459
                        .row#row2
                            p Amazon takes your account security very seriously. Amazon will never email you to disclose or verify your Amazon password, credit card, or banking account number. If you receive a suspicious email with a link to update your account information, do not click the link - instead, report the email to Amazon for investigation.
                        .row#row3
                            p We hope to see you again soon.
            h1 TrustWallet
            //- code here

block styles 
    link(rel='stylesheet', href='/css/erick-week2.css')  
