extends ../../layout 

block content
    .ui.container
        br
        a(href='/')
            i.left.arrow.huge.icon    
        h1 #{name} week 2

        .limit
            br
            h1 Amazon 
            //- code here
            br
            
            .ui.segment#AmazonSeg
                .item#item1
                    img.AmazonLogo(src="/images/erick/week2/Amazon_logo.svg")
                    h3 Password Assistance
                .item#item2
                    .ui.stackable.vertical.grid#AmazonStack
                        .row#row1
                            p To verify your identity, please use the following code:
                        .row#row2
                            h2 456459
                        .row#row2
                            p Amazon takes your account security very seriously. Amazon will never email you to disclose or verify your Amazon password, credit card, or banking account number. If you receive a suspicious email with a link to update your account information, do not click the link - instead, report the email to Amazon for investigation.
                        .row#row3
                            p We hope to see you again soon.
            h1 Dropbox 
            //- code here
            .ui.segment#DropboxSeg
                    .ui.stackable.vertical.grid#DropStackable
                        .row
                            img.DropboxLogo(src="/images/erick/week2/Dropbox_logo.svg")
                        .row
                            span.spanDroptxt We noticed you logged into dropbox using 
                                b Chrome on Windows 10 
                                span.spanDroptxt 12:39 PM GMT-04:00 from 
                                b Orlando Florida, USA.
                        .row
                            span.spanDroptxt 
                                b Note: 
                                span.spanDroptxt Your location may be inaccurate since it was estimated using your IP address.
                        .row
                            span.spanDroptxt You can check on this and other login events by visiting your 
                                a account page
                        .row
                            span.spanDroptxt Happy Dropboxing!
                        .row  
                            span.spanDroptxt - The Dropbox Team
                        .row
                            span.spanDroptxt P.S. Learn how to 
                                a protect your account 


            h1 TrustWallet
            //- code here
            .ui.segment#DropboxSeg


block styles 
    link(rel='stylesheet', href='/css/erick-week2.css')  
