extends ../../layout

block content
    .ui.container
        br
        a(href='/')
            i.left.arrow.huge.icon    

        .limit
            br
            .ui.basic.segment.title.ui.centered
                h1.ui.header Creating a Strong Password
            .ui.basic.segment.section1
                h2.ui.header Strong passwords are important!
                p.paragraph2 You'll need to create a password to do just about everything on the Web, from checking your email to online banking. And while it's simpler to use a short, easy-to-remember password, this can also pose serious risks to your online security. To protect yourself and your information, you'll want to use passwords that are long, strong, and difficult for someone else to guess while still keeping them relatively easy for you to remember.
                img(alt = "lady on computer" src='/images/brandon/passwordimage1.jpg') 
                //- images were obtained with free use from pexels.com
            .ui.basic.segment.section2
                h2.ui.header How to Create a Strong Password
                p.paragraph2 Here are some tips for creating a strong password:
                ul.ui.list
                    li Use a mix of uppercase and lowercase letters</li>
                    li Include numbers and special characters</li>
                    li Avoid using easily guessable information like your name or birthdate</li>
                    li Make it at least 12 characters long</li>

            .ui.basic.segment.password1
                h2.ui.header2 Example Weak Passwords 😕
                ul.ui.list
                    li password123 - Weakness: Easily guessable and lacks complexity</li>
                    li John2005 - Weakness: Uses a common name and a birth year</li>
                    li letmein - Weakness: Too simple and commonly used</li>
                    li 123456789 - Weakness: Sequential numbers</li>
                    li qwerty - Weakness: Easily guessable keyboard pattern</li>
                    li abc123 - Weakness: A combination of letters and numbers, but still weak</li>
                    li admin - Weakness: Frequently used for administrative access</li>
                    li 111111 - Weakness: Repeating numbers</li>

            .ui.basic.segment.password2
                h2.ui.header2 Example Strong Passwords 💪
                p All of these are longer than 12 characters and complex, using no personal information
                ul.ui.list
                    li v5R#2$uj1X6O - Strength: 14 characters, includes a mix of uppercase letters, numbers, and special characters</li>
                    li m#P52s@ap$V - Strength: 12 characters, includes a mix of uppercase letters, numbers, and special characters</li>
                    li $ecur3P@$$phr@$e - Strength: 16 characters, includes a mix of uppercase letters, numbers, and special characters</li>
                    li T0t@llySecur3! - Strength: 14 characters, includes a mix of uppercase letters, numbers, and special characters</li>
                    li P@ssw0rdSecur3 - Strength: 14 characters, includes a mix of uppercase letters, numbers, and special characters</li>
                    li 2Fa$tor!Auth3nt1c@t10n - Strength: 20 characters, includes a mix of uppercase letters, numbers, and special characters</li>

            .ui.basic.segment.section4
                h2.ui.header Using a Password Generator
                p.paragraph2 Sometimes, coming up with a strong password can be a bit tricky. That's where a password generator comes in handy. Think of it as a magical tool that creates strong and secure passwords for you. You don't have to worry about thinking up complex combinations of letters, numbers, and symbols – the generator does it all for you. Just click a button, and it will provide you with a unique and tough-to-crack password that you can use to keep your accounts safe. It's like having a password wizard by your side, ensuring your online world stays protected.
                img(alt = "person using laptop with phone next to them" src='/images/brandon/passwordimage2.jpg') 
                
            .ui.basic.segment.section3
                h2.ui.header Using a Password Manager
                p.paragraph2 Imagine a small, secure box where you can keep all your keys safe. Well, a password manager is like that for your online accounts. It helps you create strong and unique 'keys' (passwords) for each of your accounts, like email or banking. These 'keys' are complex and hard for bad people to guess. The manager keeps them locked up, so even if someone tries to break in, they can't get your 'keys.' You only need to remember one 'master key' to open this box and access all your 'keys' inside. It's like having a friendly helper to keep your online things safe and organized, making it easier and more secure when you use the internet.






         
block styles 
    link(rel='stylesheet', href='/css/password-tutorial.css')
