extends ../../layout 

block content
    .ui.container
        a(href='/')
            i.left.arrow.huge.icon  
        .ui.grid
            .six.wide.column
                .ui.basic.padded.segment
                    .ui.fluid.card  
                        img.visible.content(id = "veniceimg" src='/images/brandon/brandon1.jpg')
                        h1 #{data.person.name}
                        p #{data.person.email}
                        .ui.blue.large.button#showProfile View Profile
            .ten.wide.column#hideProfile 
                ui.segment
                    h1 test

                    
block styles 
    link(rel='stylesheet', href='/css/brandon.css')  

block scripts
    script(src="/js/brandon.js")