extends ../../layout

block content
    .ui.container
        br
        a(href='/')
            i.left.arrow.huge.icon    

        .limit
            br
            .ui.basic.segment.title.ui.centered
                h1.ui.header Creating a Strong Password
            .ui.basic.segment.section1
                h2.ui.header Strong passwords are important!
                p.paragraph You'll need to create a password to do just about everything on the Web, from checking your email to online banking. And while it's simpler to use a short, easy-to-remember password, this can also pose serious risks to your online security. To protect yourself and your information, you'll want to use passwords that are long, strong, and difficult for someone else to guess while still keeping them relatively easy for you to remember.
                img(alt = "lady on computer" src='/images/brandon/passwordimage1.jpg') 
                //- images were obtained with free use from pexels.com
            .ui.basic.segment.section2
                h2.ui.header How to Create a Strong Password
                p.paragraph Here are some tips for creating a strong password:
                ul.ui.list
                    li Use a mix of uppercase and lowercase letters</li>
                    li Include numbers and special characters</li>
                    li Avoid using easily guessable information like your name or birthdate</li>
                    li Make it at least 12 characters long</li>

            .ui.basic.segment.password1
                h2.ui.header2 Example Weak Passwords 😕
                ul.ui.list
                    li password123 - Weakness: Easily guessable and lacks complexity</li>
                    li John2005 - Weakness: Uses a common name and a birth year</li>

            .ui.basic.segment.password2
                h2.ui.header2 Example Strong Passwords 💪
                ul.ui.list
                    li v5R#2$uj1X6O</li>
                    li m#P52s@ap$V</li>
                    li $ecur3P@$$phr@$e </li>

            
            .ui.basic.segment.section3
                h2.ui.header Using a Password Manager
                p.paragraph Consider using a password manager to securely store and manage your passwords. A password manager can generate strong passwords and help you keep track of them.
                img(alt = "person using laptop with phone next to them" src='/images/brandon/passwordimage2.jpg') 


         
block styles 
    link(rel='stylesheet', href='/css/password-tutorial.css')
