extends ../../layout 

block content
    .ui.container
        br
        a(href='/')
            i.left.arrow.huge.icon    

        .limit
            br
            //- code here
            .ui.basic.segment
                h1 Internet Safety - Creating a Strong Password

            
block styles 
    link(rel='stylesheet', href='/css/password-tutorial.css')  
