extends ../../layout 

block content
    .ui.container
        br
        a(href='/')
            i.left.arrow.huge.icon    
        h1 #{name} week 2

        .limit
            br
            h1 Netflix 
            //- code here
            .ui.basic.segment
                img#netflix-logo(src='/images/netflix-logo.png' alt='Netflix logo')
                .ui.basic.segment.alert
                    i.exclamation.triangle.icon
                    h3 Your acccount is on hold
                .ui.basic.segment.message
                    h1.bold-message Please update your payment details
                    p Hi Dear
                    p.response We're having some trouble with your current billing information. We'll try again, but in the meantime you may want to update your payment details.
                    h2.update UPDATE ACCOUNT NOW
                    p Need help? We're here if you need it. Visit the <span class="underline-text">Help Centre</span> or <span class="underline-text">contact us</span> now
                    p -Your friends at Netflix
            h1 Bruce 
            //- code here
            .ui.basic.segment.bruce
                .ui.basic.segment.subject
                    p FW: Note from Bruce Stayton
                    .ui.huge.label inbox
                        i.delete.icon
                .ui.basic.segment.user 
                        i.user.circle.icon
                        p Bruce Stayton
                        p.tag &lt;0009389028319@enu.qz&gt;
                p Just thought picture 7 and 15 might look familiar to you <span class="underline-text-blue">https://tdlrc:890ss.com/</span>
            h1 Walmart
            //- code here

block styles 
    link(rel='stylesheet', href='/css/brandon-week2.css')  
