extends ../../layout 


block content

    .ui.stackable.two.column.grid
        .column
            .ui.card
                .image
                    img(src='/images/liv/man_avatar.jpg')
                .content
                    a.header Name: Daring
                    .meta
                    span.date Bold, Fearless, Confident, Inspiring
                .extra.content
                    a
                    i.user.icon
                    |       22 Friends
        .column 
            .ui.card
                .image
                    img(src='/images/liv/man_avatar.jpg')
                .content
                    a.header Name: Valiant
                    .meta
                    span.date Courageous, Heroic, Noble, Inspiring
                .extra.content
                    a
                    i.user.icon
                    |       22 Friends
    .ui.stackable.two.column.grid
        .column
            .ui.card
                .image
                    img(src='/images/liv/man_avatar.jpg')
                .content
                    a.header Name: Dartie
                    .meta
                    span.date Swift, Playful, Energetic, Loyal
                .extra.content
                    a
                    i.user.icon
                    |       22 Friends
        .column 
            .ui.card
                .image
                    img(src='/images/liv/man_avatar.jpg')
                .content
                    a.header Name: Intrepid
                    .meta
                    span.date Fearless, Curious, Inspiring, Resilient
                .extra.content
                    a
                    i.user.icon
                    |       22 Friends


block styles 
    link(rel='stylesheet', href='/css/liv-week2.css')  
