extends ../../layout 

block content
    .ui.container
        br
        a(href='/')
            i.left.arrow.huge.icon    
        h1 #{name} week 2

        .limit
            br
            h1 
                a(href='/people/liv/avatarPage') Links to avatar.pug
            h1
                a(href='/people/liv/iphonePage') Links to iphone.pug
