extends ../../layout 

block content
    .ui.container
        br
        .ui.padded
                a(href='/people/hua')
                    i.left.arrow.huge.icon
        p LOAD FOREVER
    .ui.padded.segment
        .ui.active.loader

block styles 
    link(rel='stylesheet', href='/css/hua.css')  

block scripts
    script(src="/js/hua.js")